
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>       
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>Bizimle İletişime Geçin</h3>               
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="İsim:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'İsim';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="E-mail:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Telefon:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telefon';}">
                    </div>
                    <div>
                        <p><span class="read">Gönder</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Mesaj:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesaj';}">Mesaj:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres</h3>
                        <p>Kırıkkale Üniversitesi, Ankara Yolu 7.Km, 71450 Yahşihan/Kırıkkale </p>
                        <p>Telefon: (0318) 357 42 42</p>
                        <p>E-mail: <a href="mailto:idilsakincii6@gmail.com">idilsakincii6@gmail.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.7713600959837!2d33.44370111465059!3d39.879359079431175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4081e0f56a614979%3A0xf5bd84ceaf8edf4c!2sK%C4%B1r%C4%B1kkale%20University!5e0!3m2!1sen!2sus!4v1607285898184!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>                
                <div class="clear"></div>
            </div>
            <br/>
            <div class="clear"></div>
        </div>
    </div>    
</body>
</html>